<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class ="row mt-5">
        <div class="col-7 image-left ">
        </div>
        <div class="col-5 " >
            <div>
                <% if (errors !== " ") {%>
                <% errors.forEach(function(item) {%>
                <div class="alert alert-danger">
                    <%- item%>
                </div>
                <% })%>
                <%}%>
            </div>
            <form method="POST" action="/register">
                <div class="form-group">
                    <label for="fullName">Full name</label>
                    <input type="text" class="form-control" id="fullName" name ="fullName" placeholder="Enter Full name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email address: (*)</label>
                    <input type="email" class="form-control" id="email" name ="email" placeholder="Enter Email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password: (*)</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <label for="password">Confirm Password: (*)</label>
                    <input type="password" class="form-control" id="ConfirmationPassword" name="ConfirmationPassword" placeholder="Confirm your Password" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <hr>
            <div>
                <div>If you already have an account.<a href="/login">Log in.</a></div>
            </div>Return to <a href="/">Home page</a>.</div>
    </div>
</div>
</div>
</div>
</body>
</html>
